# CRIME PREPROCESS

In [72]:
import pandas as pd

In [73]:
# Load the datasets
snopes_df = pd.read_csv('../datasets/Crime/snopesdata/snopes_phase1_raw_2018_7_3.csv', encoding='latin1')
fakes_df = pd.read_csv('../datasets/Crime/fa-kes-data/FA-KES-Dataset.csv', encoding='latin1')

## Snopes

In [74]:
snopes_df.head()

,fact_rating_phase1,snopes_url_phase1,article_title_phase1,article_category_phase1,article_date_phase1,article_claim_phase1,article_origin_url_phase1,index_paragraph_phase1,page_is_first_citation_phase1
0,true,https://www.snopes.com/fact-check/lori-mcallen...,Did an Oregon Department of Transportation Emp...,Viral Phenomena Viral Phenomena,21 June 2018,"In June 2018, Oregon DOT employee Lori McAllen...",https://www.oregon.gov/odot/Pages/index.aspx,1,True
1,true,https://www.snopes.com/fact-check/lori-mcallen...,Did an Oregon Department of Transportation Emp...,Viral Phenomena Viral Phenomena,21 June 2018,"In June 2018, Oregon DOT employee Lori McAllen...",http://archive.is/HpML7,2,False
2,true,https://www.snopes.com/fact-check/lori-mcallen...,Did an Oregon Department of Transportation Emp...,Viral Phenomena Viral Phenomena,21 June 2018,"In June 2018, Oregon DOT employee Lori McAllen...",https://us-east-1.tchyn.io/snopes-production/u...,4,False
3,true,https://www.snopes.com/fact-check/lori-mcallen...,Did an Oregon Department of Transportation Emp...,Viral Phenomena Viral Phenomena,21 June 2018,"In June 2018, Oregon DOT employee Lori McAllen...",https://us-east-1.tchyn.io/snopes-production/u...,10,False
4,true,https://www.snopes.com/fact-check/lori-mcallen...,Did an Oregon Department of Transportation Emp...,Viral Phenomena Viral Phenomena,21 June 2018,"In June 2018, Oregon DOT employee Lori McAllen...",https://us-east-1.tchyn.io/snopes-production/u...,12,False

In [75]:
#drop snopes_url_phase1, article_title_phase1, article_category_phase1, article_date_phase1, article_origin_url_phase1, index_paragraph_phase1, page_is_first_citation_phase1
snopes_df.drop(['snopes_url_phase1', 'article_title_phase1', 'article_category_phase1', 'article_date_phase1', 'article_origin_url_phase1', 'index_paragraph_phase1', 'page_is_first_citation_phase1'], axis=1, inplace=True)

In [76]:
#rename columns from article_claim_phase1 to claim, article_label_phase1 to label
snopes_df.rename(columns={'article_claim_phase1':'claim', 'fact_rating_phase1':'label'}, inplace=True)
snopes_df.head()

  label                                              claim
0  true  In June 2018, Oregon DOT employee Lori McAllen...
1  true  In June 2018, Oregon DOT employee Lori McAllen...
2  true  In June 2018, Oregon DOT employee Lori McAllen...
3  true  In June 2018, Oregon DOT employee Lori McAllen...
4  true  In June 2018, Oregon DOT employee Lori McAllen...

In [77]:
#print unique values in label column
print(snopes_df['label'].unique())

['true' 'mostly true' 'mixture' 'mostly false' 'false' 'unproven'
 'outdated' 'miscaptioned' 'correct attribution' 'misattributed' 'scam'
 'legend']

In [78]:
#rename values in label column from ['true' 'mostly true' 'mixture' 'mostly false' 'false' 'unproven' 'outdated' 'miscaptioned' 'correct attribution' 'misattributed' 'scam' 'legend' to 1 and 0 s
snopes_df['label'] = snopes_df['label'].replace(['true', 'mostly true', 'correct attribution'], 1)
snopes_df['label'] = snopes_df['label'].replace(['mixture', 'mostly false', 'false', 'unproven', 'outdated', 'miscaptioned', 'misattributed', 'scam', 'legend'], 0)
snopes_df.head()

C:\Users\MONSTER\AppData\Local\Temp\ipykernel_11596\2913117659.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  snopes_df['label'] = snopes_df['label'].replace(['mixture', 'mostly false', 'false', 'unproven', 'outdated', 'miscaptioned', 'misattributed', 'scam', 'legend'], 0)

   label                                              claim
0      1  In June 2018, Oregon DOT employee Lori McAllen...
1      1  In June 2018, Oregon DOT employee Lori McAllen...
2      1  In June 2018, Oregon DOT employee Lori McAllen...
3      1  In June 2018, Oregon DOT employee Lori McAllen...
4      1  In June 2018, Oregon DOT employee Lori McAllen...

In [79]:
#print unique values in label column
print(snopes_df['label'].unique())

[1 0]

## FA-KES

In [80]:
fakes_df.head()

,unit_id,article_title,article_content,source,date,location,labels,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1914947530,Syria attack symptoms consistent with nerve ag...,Wed 05 Apr 2017 Syria attack symptoms consiste...,nna,4/5/2017,idlib,0,NaN,NaN,NaN,NaN
1,1914947532,Homs governor says U.S. attack caused deaths b...,Fri 07 Apr 2017 at 0914 Homs governor says U.S...,nna,4/7/2017,homs,0,NaN,NaN,NaN,NaN
2,1914947533,Death toll from Aleppo bomb attack at least 112,Sun 16 Apr 2017 Death toll from Aleppo bomb at...,nna,4/16/2017,aleppo,0,NaN,NaN,NaN,NaN
3,1914947534,Aleppo bomb blast kills six Syrian state TV,Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...,nna,4/19/2017,aleppo,0,NaN,NaN,NaN,NaN
4,1914947535,29 Syria Rebels Dead in Fighting for Key Alepp...,Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...,nna,7/10/2016,aleppo,0,NaN,NaN,NaN,NaN

In [81]:
#drop unit_id,article_title,source,date,location,"Unnamed: 7","Unnamed: 8","Unnamed: 9","Unnamed: 10" from fakes_df
fakes_df.drop(['unit_id','article_title','source','date','location',"Unnamed: 7","Unnamed: 8","Unnamed: 9","Unnamed: 10"], axis=1, inplace=True)
fakes_df.head()

                                     article_content  labels
0  Wed 05 Apr 2017 Syria attack symptoms consiste...       0
1  Fri 07 Apr 2017 at 0914 Homs governor says U.S...       0
2  Sun 16 Apr 2017 Death toll from Aleppo bomb at...       0
3  Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...       0
4  Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...       0

In [82]:
#rename article_content	labels to claim, label
fakes_df.rename(columns={'article_content':'claim', 'labels':'label'}, inplace=True)
fakes_df.head()

                                               claim  label
0  Wed 05 Apr 2017 Syria attack symptoms consiste...      0
1  Fri 07 Apr 2017 at 0914 Homs governor says U.S...      0
2  Sun 16 Apr 2017 Death toll from Aleppo bomb at...      0
3  Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...      0
4  Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...      0

## MERGE

In [83]:
#replace label values in snopes_df to match fakes_df
snopes_df['label'] = snopes_df['label'].replace(['false', 'mixture', 'true'], ['Fake', 'Mixture', 'Real'])

In [84]:
#merge snopes_df and fakes_df
crime_dataset = pd.concat([snopes_df, fakes_df])
crime_dataset.head()

   label                                              claim
0      1  In June 2018, Oregon DOT employee Lori McAllen...
1      1  In June 2018, Oregon DOT employee Lori McAllen...
2      1  In June 2018, Oregon DOT employee Lori McAllen...
3      1  In June 2018, Oregon DOT employee Lori McAllen...
4      1  In June 2018, Oregon DOT employee Lori McAllen...

In [85]:
#remove duplicates
crime_dataset.drop_duplicates(subset='claim', keep='first', inplace=True)

#remove rows with missing values
crime_dataset = crime_dataset.dropna()

In [86]:
#display details of merged_df such as shape, info, describe, head unique values in label column
print(crime_dataset.shape)
print(crime_dataset.info())
print(crime_dataset.describe())
print(crime_dataset.head())
print(crime_dataset['label'].unique())

#display average claim length
crime_dataset['claim_length'] = crime_dataset['claim'].apply(lambda x: len(x.split()))
print(crime_dataset['claim_length'].mean())

(6427, 2)
<class 'pandas.core.frame.DataFrame'>
Index: 6427 entries, 0 to 803
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   6427 non-null   int64
 1   claim   6427 non-null   object
dtypes: int64(1), object(1)
memory usage: 150.6+ KB
None
             label
count  6427.000000
mean      0.179555
std       0.383846
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000
    label                                              claim
0       1  In June 2018, Oregon DOT employee Lori McAllen...
6       1  The Trump administration is paying Southwest K...
20      1  First Lady Melania Trump wore a jacket with "I...
37      1  Facebook posts by commercial flight attendants...
46      1  Stephen Miller â a principal architect of th...
[1 0]
53.409989108448734

In [87]:
#Remove punctuations
#Convert text to tokens
#Remove tokens of length less than or equal to 3
#Remove stopwords using NLTK corpus stopwords list to match
#Apply lemmatization

import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

def clean_text(text):
    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation))
    tokens = word_tokenize(text)
    tokens = [word for word in tokens if len(word) > 3]
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    return ' '.join(tokens)

crime_dataset['claim'] = crime_dataset['claim'].apply(clean_text)
crime_dataset.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\MONSTER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\MONSTER\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\MONSTER\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

    label                                              claim  claim_length
0       1  june 2018 oregon employee lori mcallen said im...            22
6       1  trump administration paying southwest million ...            23
20      1  first lady melania trump wore jacket dont real...            25
37      1  facebook post commercial flight attendant desc...            19
46      1  stephen miller principal architect trump admin...            26

In [88]:
#display average claim length
crime_dataset['claim_length'] = crime_dataset['claim'].apply(lambda x: len(x.split()))
print(crime_dataset['claim_length'].mean())
crime_dataset = crime_dataset.drop(columns=['claim_length'])

31.28271355220165

In [89]:
#save to preprocessed_datasets folder
crime_dataset.to_csv('../preprocessed_datasets/crime_dataset.csv', index=False)