# POLITICS PREPROCESS

In [83]:
import pandas as pd

## fakenewskaggle

In [84]:
fakenewskaggle = pd.read_csv('../datasets/Politics/fakenewskaggle/train.csv')
fakenewskaggle.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [85]:
#drop 	id	title	author
fakenewskaggle.drop(['id', 'title', 'author'], axis=1, inplace=True)

#rename text to claim
fakenewskaggle.rename(columns={'text': 'claim'}, inplace=True)

fakenewskaggle.head()

                                               claim  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1

## ISOT

In [86]:
fake = pd.read_csv('../datasets/Politics/ISOT/Fake.csv')
true = pd.read_csv('../datasets/Politics/ISOT/True.csv')

In [87]:
#add label to fake and true
fake['label'] = 0
true['label'] = 1

In [88]:
true.shape, fake.shape

((21417, 5), (23481, 5))

In [89]:
ISOT_data = pd.concat([fake, true], ignore_index=True)
ISOT_data.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [90]:
#unique values in subject (they seem to be all related to politics)
ISOT_data['subject'].unique()

array(['News', 'politics', 'Government News', 'left-news', 'US_News',
       'Middle-east', 'politicsNews', 'worldnews'], dtype=object)

In [91]:
ISOT_data.drop(['title', 'subject', 'date'], axis=1, inplace=True)
ISOT_data.rename(columns={'text': 'claim'}, inplace=True)
ISOT_data.head()

                                               claim  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

## LIAR

In [92]:
# Import necessary libraries
from datasets import load_dataset

In [93]:
# Load the dataset
liar_dataset = load_dataset("liar")

# Convert the train dataset to pandas DataFrame
liar = pd.DataFrame(liar_dataset['train'])

liar.head()

,id,label,statement,subject,speaker,job_title,state_info,party_affiliation,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts,context
0,2635.json,0,Says the Annies List political group supports ...,abortion,dwayne-bohac,State representative,Texas,republican,0.0,1.0,0.0,0.0,0.0,a mailer
1,10540.json,1,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0.0,0.0,1.0,1.0,0.0,a floor speech.
2,324.json,2,"Hillary Clinton agrees with John McCain ""by vo...",foreign-policy,barack-obama,President,Illinois,democrat,70.0,71.0,160.0,163.0,9.0,Denver
3,1123.json,0,Health care reform legislation is likely to ma...,health-care,blog-posting,,,none,7.0,19.0,3.0,5.0,44.0,a news release
4,9028.json,1,The economic turnaround started at the end of ...,"economy,jobs",charlie-crist,,Florida,democrat,15.0,9.0,20.0,19.0,2.0,an interview on CNN

In [94]:
#drop all except label and statement:id,label,statement,subject,speaker,job_title,state_info,party_affiliation,barely_true_counts,false_counts,half_true_counts,mostly_true_counts,pants_on_fire_counts,context
liar = liar.drop(columns=['id', 'subject', 'speaker', 'job_title', 'state_info', 'party_affiliation', 'barely_true_counts', 'false_counts', 'half_true_counts', 'mostly_true_counts', 'pants_on_fire_counts', 'context'])
liar.head()

   label                                          statement
0      0  Says the Annies List political group supports ...
1      1  When did the decline of coal start? It started...
2      2  Hillary Clinton agrees with John McCain "by vo...
3      0  Health care reform legislation is likely to ma...
4      1  The economic turnaround started at the end of ...

In [95]:
#print unique values in label
liar['label'].unique()

array([0, 1, 2, 3, 4, 5], dtype=int64)

In [96]:
#replace labels 4,5 with 0
liar['label'].replace(4, 0, inplace=True)
liar['label'].replace(5, 0, inplace=True)

#replace labels 2,3 with 1
liar['label'].replace(2, 1, inplace=True)
liar['label'].replace(3, 1, inplace=True)

liar['label'].unique()

C:\Users\MONSTER\AppData\Local\Temp\ipykernel_29300\3131996599.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  liar['label'].replace(4, 0, inplace=True)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_29300\3131996599.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  liar['label'].replace(5, 0, inplace=True)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_29300\3131996599.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  liar['label'].replace(2, 1, inplace=True)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_29300\3131996599.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  liar['label'].replace(3, 1, inplace=True)

array([0, 1], dtype=int64)

In [97]:
liar.rename(columns={'statement': 'claim'}, inplace=True)
liar.head()

   label                                              claim
0      0  Says the Annies List political group supports ...
1      1  When did the decline of coal start? It started...
2      1  Hillary Clinton agrees with John McCain "by vo...
3      0  Health care reform legislation is likely to ma...
4      1  The economic turnaround started at the end of ...

## POLITIFACT

In [98]:
import json
import csv

In [99]:
# Path to the JSON file
json_file = '../datasets/Politics/Politifact/politifact_factcheck_data.json'

In [100]:
# Read the JSON file
data = []
with open(json_file, "r") as file:
    for line in file:
        data.append(json.loads(line))

In [101]:
# Extract the "verdict" and "statement" values from the JSON data
rows = [(item['verdict'], item['statement']) for item in data]

In [102]:
#turn into dataframe
politifact = pd.DataFrame(rows, columns=['label', 'claim'])

In [103]:
#unique values in label
politifact['label'].unique()

array(['true', 'false', 'mostly-true', 'half-true', 'pants-fire',
       'mostly-false'], dtype=object)

In [104]:
#rename labels 'pants-fire', 'mostly-false', 'false' to 0
#rename labels 'half-true', 'mostly-true', 'true' to 1
politifact['label'].replace('pants-fire', 0, inplace=True)
politifact['label'].replace('mostly-false', 0, inplace=True)
politifact['label'].replace('false', 0, inplace=True)
politifact['label'].replace('half-true', 1, inplace=True)
politifact['label'].replace('mostly-true', 1, inplace=True)
politifact['label'].replace('true', 1, inplace=True)

politifact['label'].unique()

C:\Users\MONSTER\AppData\Local\Temp\ipykernel_29300\2855221281.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  politifact['label'].replace('pants-fire', 0, inplace=True)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_29300\2855221281.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  politifact['label'].replace('mostly-false', 0, inplace=True)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_29300\2855221281.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  politifact['label'].replace('false', 0, inplace=True)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_29300\2855221281.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  politifact['label'].replace('half-true', 1, inplace=True)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_29300\2855221281.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  politifact['label'].replace('mostly-true', 1, inplace=True)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_29300\2855221281.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  politifact['label'].replace('true', 1, inplace=True)
C:\Users\MONSTER\AppData\Local\Temp\ipykernel_29300\2855221281.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  politifact['label'].replace('true', 1, inplace=True)

array([1, 0], dtype=int64)

In [105]:
politifact.head()

   label                                              claim
0      1  John McCain opposed bankruptcy protections for...
1      0  "Bennie Thompson actively cheer-led riots in t...
2      1  Says Maggie Hassan was "out of state on 30 day...
3      0  "BUSTED: CDC Inflated COVID Numbers, Accused o...
4      1  "I'm the only (Republican) candidate that has ...

In [106]:
#merge all datasets
politics_dataset = pd.concat([fakenewskaggle, ISOT_data, liar, politifact], ignore_index=True)
politics_dataset.head()

                                               claim  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1

In [107]:
#drop duplicates
politics_dataset.drop_duplicates(subset='claim', inplace=True)

#drop rows with missing values
politics_dataset.dropna(inplace=True)

In [108]:
#display details of merged_df such as shape, info, describe, head unique values in label column
print(politics_dataset.shape)
print(politics_dataset.info())
print(politics_dataset.describe())
print(politics_dataset.head())
print(politics_dataset['label'].unique())

#display average claim length
politics_dataset['claim_length'] = politics_dataset['claim'].apply(lambda x: len(x.split()))
print(politics_dataset['claim_length'].mean())

(88694, 2)
<class 'pandas.core.frame.DataFrame'>
Index: 88694 entries, 0 to 97118
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   claim   88694 non-null  object
 1   label   88694 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.0+ MB
None
              label
count  88694.000000
mean       0.510666
std        0.499889
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
                                               claim  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1
[1 0]
357.8016889530295

In [109]:
#Remove punctuations
#Convert text to tokens
#Remove tokens of length less than or equal to 3
#Remove stopwords using NLTK corpus stopwords list to match
#Apply lemmatization

import string
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

def clean_text(text):
    text = text.lower()
    text = text.translate(str.maketrans('', '', string.punctuation))
    tokens = word_tokenize(text)
    tokens = [word for word in tokens if len(word) > 3]
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    return ' '.join(tokens)

politics_dataset['claim'] = politics_dataset['claim'].apply(clean_text)
politics_dataset.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\MONSTER\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\MONSTER\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\MONSTER\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

                                               claim  label  claim_length
0  house aide even comey letter jason chaffetz tw...      1           820
1  ever feeling life circle roundabout rather hea...      0           710
2  truth might fired october 2016 tension intelli...      1          1266
3  video civilian killed single airstrike identif...      1           557
4  print iranian woman sentenced year prison iran...      1           154

In [110]:
#display average claim length
politics_dataset['claim_length'] = politics_dataset['claim'].apply(lambda x: len(x.split()))
print(politics_dataset['claim_length'].mean())
politics_dataset = politics_dataset.drop(columns=['claim_length'])

185.4764471102893

In [111]:
#save to preprocessed_datasets folder
politics_dataset.to_csv('../preprocessed_datasets/politics_dataset.csv', index=False)